@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/173aa2c75698b66f4ebbd3b63f4b8030?family=Alternate+Gothic+No1+D');
body{
    font-family: "Oxygen", sans-serif;

}
  .web-container{
    max-width: 1500px;
    margin: 0 auto;
}
/* header */
nav{
   display: flex;
   padding: 15.64px 0px 17.65px 0px;
   align-items: center;
}
header{
    background-color: #0E2C51CC;
    backdrop-filter: blur(35px);
    z-index: 20;

}
.nav-logo{
    margin-right: 44.64px;
    padding-left: 39.52px;
    

}
.nav-menu{
    font-size: 12px;
    font-family: "Oxygen", sans-serif;
    display: flex;
    color: white    ;
    transition: all 0.5s ease;
}

.nav-close{
    display: none;
}
.nav-menu li{
    position: relative;
    padding: 0 32px;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.nav-menu a{
    white-space: nowrap;
}
.nav-link{
    color: black;
    font-size: 16px;
    background-color: #ffffff;
    font-weight: 700;
    border: 1px;
    font-family: "Oxygen", sans-serif;
    margin-right: 30px;
    line-height: 26px;
    text-align: center;
    border-radius: 25px;
    padding: 13px 33px;

}
.link{
    margin-left: auto;
}
.nav-toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
    opacity: 0;
    
}
.nav-toggle li{
    background-color: #ffffff;
    height: 2px;
    margin: 4px 0;
    width: 19.2px;
}
@media screen and (max-width:1400px){
    .web-container{
        margin: 0 0 0 2rem;
    }

    .link{
        display: none;
    }
    .nav-logo{
        padding-left: 0; 
    }
    .nav-menu{
        margin-left:auto;
    }
}
@media screen and ( max-width:950px) {
    .web-container{
        margin: 0 1rem;
    }
     header{
        backdrop-filter: unset; }

    .nav-logo{
        padding-left: 0;
        
    }
   
    .nav-menu{
        font-size: 20px;
        position: fixed;
        display: block;
        top: 0;
        right: -100%;
        width: 50%;
        text-align: left;
        transition: all 0.5s ease-in-out;
        background-color: #3e5674;
        height: 100%;
        padding-top: 100px;
        backdrop-filter: unset;
        z-index: 100;

    }

    .nav-close{
        position: absolute !important;
        right: 0px;
        top: 10px;
        cursor: pointer;
        width: 40px;
        padding: 0 !important;
    }

    .nav-close img{
        width: 40px;
        display: block;
        filter: invert(99%) sepia(43%) saturate(0%) hue-rotate(120deg) brightness(115%) contrast(101%);
    }

    body.show-menu .nav-menu{
        right: 0;
    }

    body.show-menu .nav-close{
        display: block;
    }
    .nav-menu li{
        padding: 15px 40px;
    }
    
    .nav-link{
        display: flex;
        margin: 0 auto;
       font-size: 3vw;
    }
    .nav-link a {
        align-items: center;
        
       justify-items: center;
    }
    .nav-link li{
        padding: 0;
    }
    .nav-toggle{
        display: flex;
        opacity: 1;
        margin-left: auto;
    }
}   

@media screen and ( max-width:500px) {
    .nav-menu{
        /* padding-left: 0; */
        width: 45%;
        font-size: 12px;
    }
  
} 
@media screen and (max-width:305px) {
    nav{
        padding: 12.64px 7px 9.65px 2px;;
    }
    .nav-logo img{
        max-width:70% !important;
    }
    .nav-link{
        padding: 13px 20px;
        margin-left: -28px;
      }
} 

  /*Main  */
.img{
    background-image: url('https://s3-alpha-sig.figma.com/img/caab/3c4f/4a5dec9a4fe233bf55fb75b02ce4f996?Expires=1739750400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=VE~O8L40m5LXJe956-KSCuS7FDJJUuwTbmhNAmsNTbpDmVDIQwatD5QHSKcl7YSD~t2WuvzfgLuUz0cfRoDLupeHVzkJviF9I9GfYiVrrD6OL8J70zKwMJd3BilOyIv0X~dSbjke-YZ8CIJlV2YiRSK~5yKqk-T4VWmNkh6p6QYRVexAOgWHL6YzEpGDXnCIQH9CTl1erP96-4PBhNEsXopm5jWi1Gitd99LiPTkQoceyJrJ3gLP5YlguZ54b3Nwv0UCqxPnq~iqRNU3LHxhgxRbnUUsgfbBfcezRMEI8gy5NVxGXHKBzCr5j7x1y6jLwotKTRu8JykD~j4AvxgHUg__');
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    height: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    overflow: hidden;
}
.img::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 0;
}
.img2{
    margin-top: 100px;
    z-index: 2;
    transition: all 0.5s ease;
}

h1{
    z-index: 2;
    font-family: 'Alternate Gothic No1 D';
    font-size: 56px;
    margin-top: 28px;
    color: rgb(243, 239, 239);
    text-align: center;
    letter-spacing: -0.015em;
    font-weight: 500;
    max-width: 450px;
    line-height: 56px;
}
.text-1{
    width: 346px;
    height: 52px;
    margin-top: 24px;
    color:  rgb(243, 239, 239);
    z-index: 2;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-weight: 700;
}
.img-link{
    display: block;
    width: 156px;
    height: 66px;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    background-color: rgba(32, 67, 112, 1);
    border-radius: 40px;
    padding: 19px 45px;
    z-index: 2;
    color: rgb(244, 247, 246);
    margin: 30px 0 116px 0;
}
@media screen and (max-width:305px) {
    .img2{
        width: 146px;
        margin-top: 79px !important;
    }
    h1{
        font-size: 28px;
        margin-top: 19px;
        line-height: 29px;
        width: 258px;
        letter-spacing: -0.0015em;
    }
    .text-1{
        width: 265px;
        font-size: 12.5px;
        line-height: 23px;
        font-weight: 700;
        margin: 18px 16px 0 20px;
        letter-spacing: -0.0015em;
        font-family: "oxygen", sans-serif;
    }
    .img-link{
        font-family: "Oxygen", sans-serif;
        font-weight: 700;
        padding: 13px 35px;
        font-size: 13px;
        margin: 22px 0 96px 0;
        font-weight: 700;
        display: unset;
        width: auto;
        height: auto;
    }
}
/* section */
.network{
    max-width: 1500px;
    margin: 0 auto;
    background-color: rgba(244, 246, 248, 1);
    padding-bottom: 123px;
}
.section1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 150px;
    gap: 140px;
    margin-top: 100px;
}
.network ul {
    list-style-type: disc;
    margin-left: 22px; 
    /* padding-left: 20px;  */
}
.network ul li::marker {
    color: rgba(166, 180, 198, 1); 
    font-size: 1.6em; 
}
.s-img {
    width: 743px;
    position: relative;
    display: flex;
   
}
/* .section1 .s-img {
    background-color: rgba(76, 143, 204, 1);
}  */
.s-img img{
    width: 100%;
    height: auto; 
    /* transform: translate(50px, -55px); */
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.sec-content1{
    margin-right: 190px;
} 
.network h2 {
    text-align: center;
}

 h2{
    padding-top: 157px;
    font-weight: 500;
    color: rgba(32, 67, 112, 1);
    font-size: 90px;
    font-family:'Alternate Gothic No1 D';
    line-height: 90px;
    letter-spacing: -0.015em;
}
.sec-content1 p{
    font-family: "Oxygen", sans-serif;
    color: rgba(35, 35, 39, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 24px;
}
.sec-content1 li {
    font-family: "Oxygen", sans-serif;
    color: rgba(35, 35, 39, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin: 0 0 12px 5px;
}
h3{
    font-family: "Alternate Gothic No1 D";
    color: rgba(35, 35, 39, 1); 
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.015em;
    text-align: left;
    padding-bottom: 24px;
}
@media screen and (max-width:1200px) {
    .sec-content1 {
        margin-right: 0px;
    } 
    .section1 {
        gap:85px;
    }
    
}
@media screen and ( max-width:950px){
    .section1 {
        display: block;
    }
    .section1 img {
        max-width: 100%; 
        height: auto;
    }   
    .sec-content1 {
        margin: 20px 10px ;
        text-align: start;
        justify-items: center;
    } 
    .section1 .s-img {
        margin-right: 60px;
    }
}
@media screen and (max-width:900px) {
    .section1 .s-img{
        width:auto;
    }
    .section1 .s-img img{
        transform: translate(7%,-8%);
    }
}
@media screen and (max-width:1200px) {
    .sec-content1 .sec-content3{
        margin-right: 0px;
    } 
    .section1 .section3{
        gap:85px;
    }
    
}
@media screen and (max-width:305px) {
    .network h2 {
        margin-left: 3px;
        font-size: 50px;
        padding-top: 64px;
        line-height: 49px;
    }
    .section1 {
        margin-top: 49px;
        padding-bottom: 20px;
    }
    .section1 .s-img {
        max-width: 94%;
    }
    .section1 h3 {
        font-size: 30px;
        letter-spacing: -0.025em;
        margin-left: -17px;
        padding-bottom: 17px;
    }
    .sec-content1 {
        margin: 27px 16px;
    }
    .sec-content1 p{
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 17px;
    }
    .hidden{
        display: none;
    }
    .sec-content1 li{
        margin: 0 0 1px -7px;
        font-size: 11px;
    }

}



.section2{
    display: flex;
    padding-bottom: 148px;
    justify-content: space-between;
    /* align-items: center; */
    gap: 200px;
}
/* .section2 .s-img {
    background-color: rgba(92, 198, 143, 1);
    
    position: relative;
}  */
.section2 .s-img img{
    width: 50%;
    height: auto; 
    /* transform: translate(-50px, -55px); */
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.sec-content2{
    margin-left: 131px;
    
}
.change1{
    display: none ;
}
@media screen and (max-width:1250px) {
    .section2{
        gap: 100px;
    }
    .sec-content2{
        margin-left: 50px;
    }
}
@media screen and (max-width:950px) {
    .section2{
        display: grid !important;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    h3{
        display: flex;
        justify-content: center;
    }
    .sec-content2{
        text-align: center;
    }
     .section2 .s-img{
        order: -1;
        margin-left: 60px;
        width: auto;
    }
}
.sec-content2 p{
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 24px;
    color: rgba(35, 35, 39, 0.7);
}
.sec-content2 li{
    font-family:"Oxygen", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: rgba(35, 35, 39, 1);
    margin: 0 0 12px 4px;
}

@media screen and (max-width: 950px) {
    .section2{
        display: block;
    }
    .section2 img {
        max-width: 100%; 
        height: auto;
    }  

}
@media screen and (max-width:305px) {
    .section2{
        padding-bottom: 48px;
    }
    .section2 .s-img{
        margin-left: 17px;
        width: 95%;
    }
    .sec-content2 {
        margin-left: 19px;
        margin-top: 16px; 
    }
    .sec-content2 h3 {
        margin-left: -17px;
        letter-spacing: -0.025em;
        font-size: 30px;
        padding-bottom: 15px;
    }
   
    .sec-content2 p{
        line-height: 21px;
        font-size: 13px;
        margin-bottom: 16px;
    }
    .sec-content2 li{
        margin: 0;
        font-size: 12px;
        line-height: 21px;
    }
}

.section3{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 128px;

}
.section3 .s-img {
    width:auto;
} 
.sec-content3 p{
    color: rgba(35, 35, 39, 1);
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}
.p1 {
    padding-bottom: 15px;
}
.section3 .sec-content3 {
    flex: 1; 
    text-align: left; 
    overflow-wrap: break-word; 
    padding-right: 217px;
}

@media screen and (max-width:1200px) {
    .sec-content3 {
        margin-right: 0px;
    } 
    .section3 {
        gap:85px;
    }
    .section3 img {
        max-width: 100%; 
        height: auto;
    }   
}
@media screen and ( max-width:950px){
   .section3{
        display: block;
    }
    .section3 img {
        width:743px;
    }   
    .sec-content3{
        margin: 20px 30px ;
        text-align: start;
        justify-items: center;
    } 
    .section3 .s-img {
        margin-right: 60px;
    }
}
@media screen and (max-width:900px) {
    .section3 .s-img{
        width:auto;
    }
    .section3 .s-img img{
        transform: translate(7%,-8%);
    }
    
}
@media screen and (max-width:305px) {
    .section3{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .section3 .sec-content3 {
        padding-right: 0;
    }
    .section3 .s-img{
        max-width: 94%;
    } 
    .change{
        display: none;
    }
    .change1{
        display: inline;
        
    }
    .section3 h3{
        white-space: normal;
        font-size: 29px;
        line-height: 29px;
        padding-bottom: 19px;
    }
    .sec-content3 {
        margin: 22px 18px;
    }
    .sec-content3 p{
        line-height: 21px;
        font-size: 13px;
    }
    .p1{
        padding-bottom: 10px;
    }
}

.sec-link{
    display: table;
    margin: 80px auto 0;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    background-color: rgba(32, 67, 112, 1);
    border-radius: 40px;
    color: rgb(244, 247, 246);
    padding: 19.5px 45px;
}
@media screen and (max-width:305px) {
    .sec-link{
        margin: 9px auto 0;
        padding: 14.5px 29px;
    }
    .network{
        padding-bottom: 58px;
    }
}

/* step */

.how{
    max-width: 1500px;
    margin: 0 auto;
}
.hhow{
    margin: 0 132px;
}
.how h2{
    padding-top: 137px ;
}
.hstep{
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
}
.s-head{
    display: flex;
    margin-bottom: 33px;
}
.step{
    margin-right: 60px;
    margin-bottom: 20px;
    background-color: rgba(244, 246, 248, 1);
    width: 264px;
    height: 264px;
    position: relative;
    text-align: center;
}
.step:last-child{
    margin: 0;
}
.step-number{
    margin-left: auto;
    font-family: 'Alternate Gothic No1 D';
    font-size: 56px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.015em;
    text-align: right;
    color: rgba(23, 41, 64, 0.1);
    padding-top: 19px;
    padding-right: 20px;
}
.hic{
    padding-top: 38px;
    padding-left: 46px;
    
}
.sp{
font-family: "Oxygen", sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 28px;
text-align: left;
padding: 0 33px 0 46px;
}
@media screen and (max-width: 1250px) {
    .step{
        margin-right: 90px;
        width:350px;
    }
    .sp {
        font-size: 30px;
    }
}
@media screen and (max-width:1150px) {
    .step{
        width: 100%;
        margin-right: 0;
    }   
}
@media screen and (max-width:305px) {
    .hhow {
        margin: 0 21px;
    }
    .how h2 {
        padding-top: 47px;
    }
    .hhow h2 {
        margin-left: -2px;
        font-size: 50px;
    }
    .hstep{
        margin-top: 13px;
    }
    .hic {
        padding-top: 22px;
        padding-left: 21px;
    }
    .hic img{
        max-width: 83%;
    }
    .step-number{
        padding-top: 10px;
        padding-right: 11px;
        font-size: 47px;
    }
    .s-head {
        margin-bottom: 22px;
    }
    .sp{
        font-size: 16px;
        padding: 0 20px 0 22px;
        line-height: 23px;
    }
    .step{
        height: 164px;
        margin-bottom: 18px;
    }
    .step:nth-child(3) {
        height: 187px;
    }
}

/* but */

.but-container{
    max-width: 1500px;
    margin: 0 auto;
}
.but{
    display: grid;
    margin: 111px 132px 0;
    grid-template-areas:
    "b-hea b-vec"
    "b-con b-vec" ;
}

/* @media screen and (max-width:1300px) {
    .but{
        display: flex;
        flex-direction: row;
    }
} */

.but h2 {
    padding-top: 168px;
}

.t-link{
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    background-color: rgba(32, 67, 112, 1);
    border-radius: 40px;
    color: rgb(244, 247, 246);
    padding: 22px 45px;
    font-size: 16px;
    
}
.but p{
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: rgba(35, 35, 39, 0.8);
    padding-top: 23px;
}
.b-hea{
    grid-area: b-hea;
}
.b-vecto{
   
    /* width: 100%; */
    max-width: 84%;
    height: auto;
    margin: -1px -2px 0 auto;
    grid-area: b-vec;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b-content{
    grid-area: b-con;
    margin: -150px 0 0 0;
}
.b-vecto img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.b-link{
    margin-top: 44px;
}

.b-vecto:hover {
   content: url('../images/vecto5.svg');
   transform: scale(1.0);
  
}
/* @media screen and (max-width:1000px) {
    .but{
        display: flex;
        flex-direction: column;
    }
    .b-vecto{
        max-width: 70%;
        padding: 25px 0 0 0;
        margin: auto;
    }
}*/
@media screen and (max-width:305px) {
    .but{
        margin: 0;
        grid-template-areas: 
            "b-hea"
            "b-vec"
            "b-con";
        
    }
    .but h2 {
        margin-left: 20px;
        font-size: 49px;
        padding-top: 64px;
        line-height: 56px;
    }
    .b-vecto{
        max-width: 88%;
        padding: 30px 0 0 0;
        margin: auto;
    }
    .b-content{
        margin: 0;
    }
    .but p {
        margin: 6px 0px 0 18px;
        font-size: 13px;
    }
    .b-link{
        margin: 36px 0 0 91px;
    }
    .t-link{
        padding: 16px 30px;
    }
} 
/* what */
.what{
    max-width: 1500px;
    margin: 0 auto;
    background-color: rgba(244, 246, 248, 1);
    margin-top: 173px;
    padding-bottom: 250px;
}
.what h2 {
    margin-left: 131px;
    padding-top: 131px;
}
.w-head {
    display: flex;
    margin-bottom: 60px;
    
}
.arrows{
    display: flex;
    gap: 4px;
    height: auto;
    /* width: 6%; */
    padding: 0 128px 40px 0;
    margin-left: auto;
    margin-top: auto; 
    /* margin-left: 300px;*/
}
.file {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
    /* gap: 34px; */
    margin: auto 131px;
    /*height: 684px; */
    /* width: 390px; */
}
.f-text {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(244, 246, 248, 1);
     /* padding: 20px;
    width: 390px !important; */
    position: relative;
    margin: 42px 16px 0;
    padding-bottom: 40px;
    /* overflow: visible;
    margin-top: 42px;
    margin-right: 52px;
    margin-left: -21px; */ 
}
.w-img{
    display: flex;
}
.imgg {
    width: 102px;
    height: 136px;
    object-fit: cover;
    position: absolute;
    top: -42px;
    left: 31px;
    object-position: 72%;
}
.quote{
    /* padding: 1px 0px 0 142px; */
    position: absolute;
    top: -11px;
    left: 162px;
}
/* .m1 .imgg{
    object-position: 77%;
}
.m2 .imgg{
    object-position: 90%;
}
.m3 .imgg{
    object-position: 73%;
}
.m4 .imgg{
    object-position: 90% ;
} */
/* .f-content {
    flex: 1;
} */
.name {
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: rgba(35, 35, 39, 1);
    padding:41px 0 0 161px;
    /* margin-left: 130px; */
}
.role{   
    font-family: "Oxygen", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: rgba(35, 35, 39, 1);
    margin: 4px 0 0 163px;
    /* margin-left: 130px; */
}
.f-content p {
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: rgba(35, 35, 39, 0.9);
    /* padding: 44px; */
}
.fp{
    padding: 38px 34px 0 29px;
}
.fp1{
    padding: 15px 29px 20px 28px;
}
.learn-more {
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: rgba(32, 67, 112, 1);
    padding-left: 28px;
    /* padding-bottom: 12px; */
}
.f-text a{
    text-decoration: underline;
}
/* .slick-prev, .slick-next{

} */
.slick-list {
    margin: 0 -15px; /* Loại bỏ hiệu ứng tràn */
  }

/* @media screen and (max-width:1400px) {
    .arrows{
        display: none;
    }
    .file{
        padding: 0 90px;
    }
}
@media screen and (max-width:1200px) {
    .file{
        padding:0 104px;
    }
    .f-text{
        width: 458px !important;
    }
}
@media screen and (max-width:1000px) {
    .file{
        padding:0 20px;
    }
    h2 {
        margin-left: 20px;
        font-size: 62px;
    }
} */
@media screen and (max-width:305px) {
    .what{
        margin-top: 78px;
        padding-bottom: 166px;
    }
    .w-head{
        margin-bottom: 27px;
    }
    .what h2 {
        line-height: 51px;
        font-size: 50px;
        margin-left: 15px;
        padding-top: 62px;
    }
    .f-text{
        padding-bottom: 28px;
    }
    .arrows{
        display: none;
    }
    .file{
        margin:0 14px;
    }
    .slick-slider .slick-slide {
        margin:40px 8px 0;
    }
    .quote{
        width: 8%;
        left: 111px;
        top: -8px;
    }
    .slick-list {
        margin: 0 -5px;
    }
    .imgg{
        width: 82px;
        height: 107px;
        top: -38px;
        left: 14px;
    }
    .name{
        font-size: 16px;
        padding: 27px 0 0 112px;
    }
    .role{
        margin: -4px 0 0 112px;
        font-size: 11px;
    }
    .f-content p {
        font-size: 13px;
        line-height: 21px;
    }
    .fp {
        padding: 30px 34px 0 13px;
    }
    .fp1 {
        padding: 11px 29px 12px 13px;
        
    }
    .learn-more {
        padding-left: 14px;
        font-size: 13px;
    }
    .slick-dots li {
        display: none;
    }
    .slick-dots li:nth-child(-n+3) {
        display: inline-block; /* Hiển thị tối đa 3 dots */
    }
    .slick-dots li.slick-active button:before {
        color:rgba(32, 67, 112, 1)
    }
    .slick-dots li button:before {
        font-size: 12px;
        top: 13px;
    }
}

/* drap */
.d-contain {
    max-width: 1500px;
    margin: 0 auto;
}
.d-head{
    display: flex;
    justify-content: center;
    margin-top: -100px;
    margin-bottom: 140px;
}
.line{
    display: block;          
    text-align: right;        
    margin-right: 48px;

}
.line1{
    font-weight: 400;
    padding-right: 5px;
}
h4{
    padding: 51px 239px;
    font-family: "Alternate Gothic No1 D";
    font-size: 56px;
    font-weight: 500;
    line-height: 69px;
    letter-spacing: -0.015em;
    text-align: center;
    background-color: rgba(32, 67, 112, 1);
    color: rgba(255, 255, 255, 1);
}
@media screen and (max-width:1200px) {
    .d-contain h4{
        padding: 51px 200px;
    }
}
@media screen and (max-width: 305px) {
    .d-contain h4 {
        font-size: 45px;
        padding: 51px 15px;
        text-align: left;
        line-height: 45px;
    }
    .d-head{
        margin: -100px 20px 54px 16px;
    }
    .line{
        text-align: left;
        margin-right: 0;
    }
    .d-br{
        display: none;
    }
}
/* upcoming */
.upcoming{
    max-width: 1500px;
    margin: 0 auto;
}
.up{
    padding: 0 100px 126px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: 
    "a a a b"
    "c c c c"
    "d d d d";
}
.u-head{
    grid-area: a;
    display: flex;
    justify-content: space-between;
    padding: 0 0 45px;
    align-items: center;
    text-align: center;

}
.u-head h2{
    padding-top: 0;
    margin: 0;
    text-align: left;
    font-size: 90px;
    flex: 4;
    padding-left: 32px;
}
.u-head p{
    color: rgba(35, 35, 39, 0.8);
    font-size: 1em;
    margin: -22px 131px 0 80px;
    text-align: left;
    flex: 2.98;
}
.btn{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 52px;
}
.btn-see{
    grid-area: b;
    display: inline-block;
    padding: 19px 43px;
    font-size: 16px;
    color: rgba(42, 42, 42, 1);
    border: 1px solid rgba(32, 67, 112, 1);
    border-radius: 40px;
    font-weight: 700;
    line-height: 26px;
            
}
.u-frame{
    padding: 25px 0 0 1px;
}
.btn-see:hover {
    background-color: #8abaee;
}
.u-hr{
    grid-area: c;
    width: 381%;
    border: 4px solid rgba(233, 236, 241, 1);
    margin-left: 32px;
}
.u-body{
    grid-area: d;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(386px,1fr));
    gap: 33px;
    margin: auto 30px;
}
.u-content{
    padding-left: 1px;
}
.u-frame img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}
.u-date {
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-align: left;
    color: rgba(32, 67, 112, 1);
    padding:24px 0 16px;
}
.u-title{
    font-family: "Alternate Gothic No1 D";
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.015em;
    text-align: left;
    color: rgba(35, 35, 39, 1);
    padding-bottom: 20px;
}
.u-link{
    display: inline-block;
    padding: 7px 36px 8px 35px;
    color: rgba(35, 35, 39, 1);
    background-color: rgba(255, 204, 0, 1);
    border-radius: 25px;
    font-weight: 700;
}
@media screen and (max-width:1200px) {
    .btn-see{
        display: none;
    }
    .u-head {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .u-head p {
        margin: -22px 56px 0 80px;
    }
}
@media screen and (max-width:1100px) {
    .up{
        display: grid;
        grid-template-columns:  1fr;
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas: 
        "a"
        /* "c" */
        "d"
        "b";
    }
    .u-hr{
        display: none;
    }
    .btn-see{
        display: block;

    }
    .u-head{
        border-bottom: 10px solid rgba(233, 236, 241, 1);
    }
    .u-body{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .u-frame:not(:last-child){
        display: none;
    }
    .show-all .u-frame{
        display: flex;
        flex-direction: column;
    }
    .upcoming .u-frame:not(:last-child){
        display: none ;
    }
}
@media screen and (max-width:305px) {
    .u-body{
        margin: 0;
    }
    .u-frame {
        padding: 33px 0 0 1px;
    }
    .u-head h2{
        font-size: 50px ;
        padding-left: 0;
    }
    .up {
        padding: 0 15px 13px;  
    }
    .u-head{
       align-items: flex-start; 
       gap: 4px;
       padding: 0 0 19px;
    }
    .u-head p {
        margin: 0px 0px 0 1px;
        font-size: 13px;
    }
    .u-date{
        font-size: 13px;
        padding: 12px 0 4px;
    }
    .u-title {
        line-height: 28px;
        font-size: 24px;
        padding-bottom: 16px;
    }
    .u-link {
        padding: 5px 25px 7px 26px;
        font-size: 14px;
    }
    .btn {
        padding: 32px 0 0;
    }
    .btn-see {
        padding: 12px 57px;
        font-size: 13px;
    }
}
/* Where */
.d-containn{
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 25px;
}
.e-head h4{
    background-color: transparent;
    padding: 0;
    padding-bottom: 40px;
    line-height: 56px;
    margin-top: 25px;
}
.e-head a{
    display: inline-block;
    padding: 20px 45px;
    color: rgba(35, 35, 39, 1);
    background-color: rgba(255, 204, 0, 1);
    border-radius: 40px;
    margin-left: 20px;
    font-weight: 700;
    
}
.e-head {
    padding: 55px 120px;
    background-color: rgba(32, 67, 112, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

@media screen and (max-width:1200px) {
    .e-head{
        padding: 80px 80px;
    }
}
@media screen and (max-width:1000px) {
    .e-head{
        padding: 50px 32px;
    }
}
@media screen and (max-width:305px) {
    .d-containn{
        padding-bottom: 21px;
    }
    .e-head {
        padding: 32px 25px 33px 21px;
        
    }
    .e-head h4 {
        font-size: 27px;
        letter-spacing: 0.0015em;
        line-height: 29px;
        padding-bottom: 30px;
    }
    .e-head a {
        font-size: 13px;
        padding: 17px 36px;
        margin-left: 0;
    }
}

/* footer */

.footer-container{
    max-width: 1500px;
    margin: 0 auto;
    background-color: rgba(244, 246, 248, 1);
    padding-top: 100px;
    overflow: hidden;
}
.ft-contact{
    display: flex;
    /* gap: 13px;  */
    padding-bottom: 36px;
    margin: 0 40px;
    
}
.hr1{
    width: 17%;
    border: 2px solid rgba(35, 35, 39, 0.1);
    margin: 15px 0;
}
.ft-content{
    width: 230px;
    display: flex;
    flex-direction: column;
    margin-right: 131px;
}
.ft-img{
    padding: 4px 31px 0 0;
}

/* .list {
    display: flex;
    gap: 65px;
} */
.hr2{
    width: 106%;
    border: 1px solid rgba(35, 35, 39, 0.1);
    margin: 36px 0 34px 0;
}
.flist1{
    width: fit-content;
}
.flist1 .list ul li {
    padding-right: 34px;
}
h6{
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: rgba(23, 41, 64, 1);
    padding: 3px 0 8px 0;
}
.c-p{
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: rgba(23, 41, 64, 0.9);
    
}
.ft-content1 p {
    padding-bottom: 8px;
}
.c-a{
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: blue;
    text-decoration: underline;
}
.c-link{
    background-color: rgba(32, 67, 112, 1);
    display: inline-block;
    padding: 21px 48px;
    text-decoration: none;
    border-radius: 60px;
    color: rgba(255, 255, 255, 1);
    margin: 61px 0 0 -177px;
}
h5{
    font-family: "Alternate Gothic No1 D";
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.015em;
    text-align: left;
    color: rgba(23, 41, 64, 1);
}
.list li{
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: rgba(23, 41, 64, 0.9);
}
.ft-list {
    /* display: flex; */
    /* flex-wrap: wrap;  */
}
.va{
        grid-column-start: 3;
}
.list{
    padding-top:20px;
}

.flist1 ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px 19px;
    
}
.flist2 ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 5px  0px;
}
.flist2 .list ul li{
    padding-right: 76px;
}

.list ul li {
    padding: 5px 0px;
    border-radius: 4px;
    
}
.IH{
    padding-top:32px;
}
 
/* @media screen and (max-width:1300px) {
    .c-link{
        display: none;
    }
    .hr2{
        width: 100%;
    }.ft-content{
        margin-right: 0;
    }
    .ft-contact{
        gap: 10px;
    }
    .ft-list{
        margin-left: 20px;
    }
} */
 @media screen and (max-width:305px) {
    .footer-container {
        padding-top: 49px;
    }
    
    .ft-img{
        width: 32%;
        padding: 0;
        
    }
    .ft-contact{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(50px,auto);
        /* justify-items: center;
        align-items: center;
        align-content: center; */
        grid-template-areas: 
        'a'
        'b'
        'c';
        padding-bottom: 0;
        margin: 0 16px;
    }
    .list li {
        font-size: 13px;
    }
    .ft-list{
        font-size: 24px ;
    }
    
    /* .c-link{
        display: inline-block;
    } */
    .fr-a{
        grid-area: c;
    }
    .ft-link{
        grid-area: a;
        padding-left: 107px ;
        padding-bottom: 18px;
    }
    .ft-content {
        grid-area: b;
        margin-right: 0px;
         width: auto;
        align-items: center;
        /*padding-bottom: 40px; */
    }
    /* .ft-content1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
    .flist1 ul {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto; 
        gap: 6px 20px;
    } 
    .flist2 ul {
        grid-template-columns: repeat(2, 37%);
        grid-auto-rows: auto; 
        gap: 7px 44px;
    }
    .va {
        grid-column-start: 2;
    }
    .list{
        padding: 13px 0 29px;
    }
    .c-p{
        text-align: center;
        font-size: 13px;
        padding: 0 7px 0;
        line-height: 22px;

    }
    .hr1 {
        width: 13%;
        margin: 11px 0;
    }
    h6{
        font-size: 13px;
        padding: 18px 5px 5px 0;
        text-align: center;
    }
    .ft-content1 p{
        line-height: 21px;
        padding-bottom: 2px;
    }
    .c-a {
        font-size: 13px;
    }
    .IH{
        padding-top: 20px;
    }
    .hp{
        padding-right: 9px;
    }
    .fr-a{
        padding: 29px 0 7px 32px;
    }
    .c-link {
        padding: 16px 34px;
        font-size: 14px;
    }
    .ft-list h5{
        border-top: 1px solid rgba(35, 35, 39, 0.1);
        padding-top: 22px;
        font-size: 29px;
    }
    .flist1 .list ul li {
        padding: 0 19px 0 0;
    }
    .flist2 .list ul li {
        padding: 0;
    }
    .flist2 .list {
        padding-top: 12px;
    }
} 


/* finally */
.fn-container{
    max-width: 1500px;
    margin: 0 auto;
    background-color: rgba(244, 246, 248, 1);
}
.finally{
    padding: 34px 0;
    margin: auto 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(35, 35, 39, 0.1);
}
/* .ft-link{
    padding: 3px 29px 40px 0;
} */
.fn-list{
    display: flex;

}
.fn-a{
    display: flex;
}
.fn-list li{
    position: relative;
    padding: 0 24px;   
    font-family: Oxygen;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(23, 41, 64, 0.9);
}
.fn-p{ 
    font-family: Oxygen;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: rgba(35, 35, 39, 0.7);
    padding: 0 140px 0 93px;
}
.fn-list li::after{
    content: "";
    position: absolute;
    background-color: rgb(238, 12, 12);
    border: 2px;
    height: 18px;
    right: 0px;
    opacity: 15%;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);

}
.fn-list li:last-child::after{
    display:none;
}
.fn-a{
    display: flex;
    gap: 20px;
    margin-left: auto;
    padding-top: 2px;
}
@media screen and ( max-width:1200px) {
    .finally{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }    
    .fn-list{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 18px 0 40px;
    }
    .fn-a{
        margin: 0;
    }
}
    @media screen and (max-width:1000px) {
        .fn-list {
            padding: 18px 0 22px; 
        }
        .fn-p{
            padding: 0;
        }
        /* .flist2 ul {
            gap:0px;
        }
        .flist1 ul {
            gap: 0 48px;
        } */
        .c-link{
            margin: 0 0 30px;
        }
        /* .ft-link{
            padding: 0;
        } */
        /* .e-head h4{
            font-size: 51px;
        } */
        /* .btn{
            padding: 40px 0 0;
        } */
        /* .up{
            padding: 0 70px 40px ;
        } */
        /* .u-head p {
            margin: -22px 9px 0 41px;
        } */

}
@media screen and (max-width:305px) {
    .fn-p {
        padding: 0;
        padding-right: 5px;
        font-size: 11px;
    }
    .finally {
        padding: 20px 0 44px;
        margin: auto 35px;
    }
    .fn-list li:first-child {
        padding-left: 0;
    }
    .fn-list li:nth-child(3){
        padding-right: 0;  
    }
    .fn-list li:nth-child(3)::after{
        display: none;
    }
    .fn-list {
        padding: 11px 0 36px;
        font-size: 11px;
    }
    .fn-list li {
        position: relative;
        padding: 0 19px 11px;
        font-size: 11px;
    }
}


